.navContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
  height: 10rem;
}

.listItemContainer {
  display: flex;
  align-items: center;
  width: 50%;
  list-style-type: none;
  padding: 0 2rem;
}

.listItem {
  margin: 0 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.logInContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  width: 50%;
}

.logInBtn {
  font-size: 2rem;
  align-items: center;
  margin: 0 3rem;

  border: none;
  background-color: inherit;
  outline: none;
}
