/* CONTAINER */

.container {
  width: 100%;
}

/* END CONTAINER */

/* LINKS */

.linkStyles {
  padding: 1rem;
  color: blue;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

/* END LINKS */

/* HEADER */

.title {
  text-align: center;
}

/* END HEADER */

/* DATA */
.textContainer {
  margin: 1rem 5rem;
}

.green {
  color: green;
  display: inline-block;
  padding: 0.2rem;
  cursor: pointer;
}

.red {
  color: red;
  display: inline-block;
  padding: 0.2rem;
  cursor: pointer;
}

/* END DATA */
