/* LINKS */

.linkStyles {
  padding: 1rem;
  color: blue;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

/* END LINKS */

/* HEADER */

.title {
  text-align: center;
}

/* END HEADER */
