/* CONTAINER */

.container {
  width: 100%;
}

/* END CONTAINER */

/* LINKS */

.linkStyles {
  padding: 1rem;
  color: blue;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

/* END LINKS */

/* HEADER */

.title {
  text-align: center;
}

/* END HEADER */

/* DATA */
.dataContainer {
  width: 95%;
  height: 50%;
  margin: 2rem auto;
  border: 2px groove black;
  overflow: scroll;
}

.dataLeft,
.dataRight {
  display: inline-block;
  padding: 1rem;
  width: 50%;
  /*border: 1px solid black;*/
  vertical-align: top;
}

.black {
  display: inline-block;
  padding: 0.2rem;
  cursor: pointer;
}

.red {
  color: red;
  display: inline-block;
  padding: 0.2rem;
  cursor: pointer;
}

/* END DATA */
