/* SEARCH SECTION */
.searchContainer {
  width: 100%;
}

.searchMain {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.searchSelect {
  font-size: 2rem;
  padding: 0.5rem;
  width: 30%;
}

.searchInput {
  width: 50%;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.searchBtn {
  font-size: 2rem;
  padding: 0.5rem;
}

.link {
  padding: 10px;
  color: blue;
  display: inline-block;
  cursor: pointer;
}
/* END SEARCH SECTION */
